@model IEnumerable<yeniWeb.Models.Antrenor>

@{
    ViewData["Title"] = "Antrenörler";
}

<h2>Antrenörler</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Antrenör</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad Soyad</th>
            <th>Uzmanlık</th>
            <th>Salon</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.AdSoyad</td>
                <td>@a.UzmanlikAlanlari</td>
                <td>@a.Salon?.SalonAdi</td>
                <td>
                    <a asp-action="Edit"
                       asp-route-id="@a.Id"
                       class="btn btn-warning btn-sm">
                        Düzenle
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@a.Id"
                       class="btn btn-danger btn-sm">
                        Sil
                    </a>

                    <a asp-controller="AntrenorMusaitlik"
                       asp-action="Index"
                       asp-route-antrenorId="@a.Id"
                       class="btn btn-secondary btn-sm">
                        Müsaitlik
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
